/**=====================
    2.34 Typeahead-search CSS Start
==========================**/
.Typeahead {
  width: 100%;

  * {
    box-sizing: border-box;

    &:before {
      box-sizing: border-box;
    }

    &:after {
      box-sizing: border-box;
    }
  }

  .tt-hint {
    display: none !important;
  }
}

.u-cf {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.u-posRelative {
  position: relative;
}

.Typeahead-spinner {
  position: absolute;
  top: 14px;
  right: 18px;
  display: none;
  color: #c5c5c5;
}

.Typeahead-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  z-index: 100;
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.Typeahead-menu.is-open {
  display: block;
}

.ProfileCard {
  position: relative;
  padding: 10px;
  border: 1px solid $gray-60 !important;
  margin-bottom: 10px;
  border-radius: 10px;

  &:hover {
    color: #414345;
    background: $body-color;

    .ProfileCard-avatar {
      border-color: #f5f8fa;
    }

    .ProfileCard-screenName {
      color: $white;
    }

    .ProfileCard-stat-label {
      color: $white;
    }
  }
}

.ProfileCard.is-active {
  color: $white;
  background: var(--theme-default);

  .ProfileCard-screenName {
    color: $white;
  }

  .ProfileCard-stat-label {
    color: $white;
  }
}

.EmptyMessage {
  position: relative;
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.Typeahead-spinner {
  width: 1rem;
  height: 1rem;
}


// typehead new search 
$color_1: #333;
$color_2: #fff;
$color_3: #aaa;
$background-color_1: #fff;
$background-color_2: #444;
$background-color_3: #333;
$background-color_4: #eee;

/**=====================
  2.34 Typeahead-search CSS Ends
==========================**/