- var page_Title = 'Default Dashboard';
- var theme_customizer      = true;
- var apex                  = true;
- var sidebar               = true;
- var scrollbar             = true;
- var notify                = true;
- var counter               = true;
- var animate               = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var select_dt             = true;
- var datatable             = true;
- var page_datatable        = true;
- var slick                 = true;
- var header_slider         = true;
- var clock                 = true;
- var dashboard_default     = true;

doctype html
html(lang='en')
  include ../../components/header-files
  body(onload='startTime()')
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                .col-sm-6
                  h3
                    | Default 
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Dashboard
                    li.breadcrumb-item.active Default      
          // Container-fluid starts
          .container-fluid.default-dashboard
            .row.widget-grid
              .col-xl-3   
                .card.bg-light-primary
                  .card-body   
                    .balance-wrapper
                      .balance-detail 
                        p New Customer
                        span 68
                      .customer-card.bg-light-primary 
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    .balance1 
                      p 10%
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#up-arrow')
                      span | This month
              .col-xl-3   
                .card.bg-light-secondary
                  .card-body   
                    .balance-wrapper
                      .balance-detail 
                        p New Customer
                        span 68
                      .customer-card.bg-light-secondary 
                        svg.stroke-icon.stroke-secondary
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    .balance1 
                      p.txt-secondary 10%
                        svg.stroke-icon.stroke-secondary
                          use(href='../assets/svg/icon-sprite.svg#up-arrow')
                      span | This month
              .col-xl-3   
                .card.bg-light-success
                  .card-body   
                    .balance-wrapper
                      .balance-detail 
                        p New Customer
                        span 68
                      .customer-card.bg-light-success 
                        svg.stroke-icon.stroke-success
                          use(href='../assets/svg/icon-sprite.svg#stroke-home') 
                    .balance1 
                      p.txt-success 10%
                        svg.stroke-icon.stroke-success
                          use(href='../assets/svg/icon-sprite.svg#up-arrow')
                      span | This month
              .col-xl-3   
                .card.bg-light-warning
                  .card-body   
                    .balance-wrapper
                      .balance-detail 
                        p New Customer
                        span 68
                      .customer-card.bg-light-warning 
                        svg.stroke-icon.stroke-warning
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    .balance1 
                      p.txt-warning 10%
                        svg.stroke-icon.stroke-warning
                          use(href='../assets/svg/icon-sprite.svg#up-arrow')
                      span | This month                                                                    
              .col-xl-5
                .card 
                  .card-header.pb-3 
                    h5 Performance Overview
                  .card-body.pt-0 
                    #deviceChart  
              .col-xl-7
                .card 
                  .card-header 
                    h5 Recent Orders
                  .card-body.sale-product-table.px-0.pt-0
                      .recent-table.table-responsive.custom-scrollbar
                        table.table#top-customer-card
                          thead 
                            tr
                              th
                              th Product Name
                              th Customers 
                              th Shipping
                              th Total
                              th Status
                          tbody 
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/6.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Nike Sports
                                    p.mb-0.f-light Free delivery
                                
                              td
                                span Rodney Cannon
                                h6 rodney@gmail.com
                              td.number $ 18.00  
                              td.number $ 512.00
                              td
                                button.btn Done 
                            tr 
                              td
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/6.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Women Bag
                                    p.mb-0.f-light delivery
                                
                              td
                                span Mike franklin
                                h6 mike@gmail.com
                              td.number $ 62.00 
                              td.number $ 325.00
                              td
                                button.btn Pending 
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/6.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Sky Shades
                                    p.mb-0.f-light Free delivery
                              td
                                span Louis Franklin
                                h6 louis238@gmail.com
                              td.number $ 51.00  
                              td.number $ 956.00
                              td
                                button.btn Done 
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/6.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Television
                                    p.mb-0.f-light Free delivery
                              td
                                span Lia Hoover
                                h6 liahoover@gmail.com
                              td.number $ 18.00  
                              td.number $ 512.00
                              td
                                button.btn Pending 
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/6.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Chair
                                    p.mb-0.f-light delivery
                              td
                                span Jaziel Reese
                                h6 jaziel89@gmail.com
                              td.number $ 62.00  
                              td.number $ 325.00
                              td
                                button.btn Done 
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/16.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Smart-watch
                                    p.mb-0.f-light Free delivery
                              td
                                span Hunter Rosas
                                h6 hunter@gmail.com
                              td.number $ 51.00  
                              td.number $ 956.00
                              td
                                button.btn Pending   
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/16.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Smart-watch
                                    p.mb-0.f-light Free delivery
                              td
                                span Hunter Rosas
                                h6 hunter@gmail.com
                              td.number $ 51.00  
                              td.number $ 956.00
                              td
                                button.btn Pending
                            tr
                              td 
                              td
                                .d-flex
                                  img.img-fluid.img-40.me-2(src='../assets/images/dashboard-2/order/sub-product/16.png',alt='user')
                                  .img-content-box
                                    a(href="products-list.html").f-w-500 Smart-watch
                                    p.mb-0.f-light Free delivery
                              td
                                span Hunter Rosas
                                h6 hunter@gmail.com
                              td.number $ 51.00  
                              td.number $ 956.00
                              td
                                button.btn Pending        
              .col-xxl-4 
                .card 
                  .card-header 
                    .header-top 
                      h5 Latest Trends
                      .card-header-right-icon
                        .dropdown.icon-dropdown
                          button#treadingProduct.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                            i.icon-more-alt
                          .dropdown-menu.dropdown-menu-end(aria-labelledby='treadingProduct')
                            a.dropdown-item(href='#!') This Month
                            a.dropdown-item(href='#!') Previous Month
                            a.dropdown-item(href='#!') Last 3 Months
                            a.dropdown-item(href='#!') Last 6 Months 
                  .card-body.px-0.pt-0.treading-product
                    .recent-table.table-responsive.custom-scrollbar
                      table.table#treading-product
                        thead 
                          tr 
                            th Product Name
                            th Category
                            th Sold
                        tbody 
                          tr 
                            td
                              .common-flex.align-items-center
                                img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/17.png',alt='user')
                                a(href="list-products.html").f-w-500 iPhone 15P
                            td Electronics
                            td 1,500
                          tr 
                            td
                              .common-flex.align-items-center
                                img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/18.png',alt='user')
                                a(href="list-products.html").f-w-500 E2 Watch
                            td Electronics
                            td 3,851
                          tr 
                            td
                              .common-flex.align-items-center
                                .img-border
                                  img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/19.png',alt='user')
                                a(href="list-products.html").f-w-500 Air Max1
                            td Footwear
                            td 4,540
                          tr 
                            td
                              .common-flex.align-items-center
                                .img-border
                                  img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/20.png',alt='user')
                                a(href="list-products.html").f-w-500 Pink Coat
                            td Clothing
                            td 6,780
                          tr 
                            td
                              .common-flex.align-items-center
                                img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/21.png',alt='user')
                                a(href="list-products.html").f-w-500 Indoor Plants
                            td Decors
                            td 4,254
                          tr 
                            td
                              .common-flex.align-items-center
                                img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/22.png',alt='user')
                                a(href="list-products.html").f-w-500 Sunglass
                            td Accessories
                            td 3,452
                          tr 
                            td
                              .common-flex.align-items-center
                                .img-border
                                  img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/23.png',alt='user')
                                a(href="list-products.html").f-w-500 Camera Stand
                            td Accessories
                            td 1,587
                          tr 
                            td
                              .common-flex.align-items-center
                                .img-border
                                  img.img-fluid.rounded-circle(src='../assets/images/dashboard-2/order/sub-product/27.png',alt='user')
                                a(href="list-products.html").f-w-500 Airpods Pro
                            td Electronics
                            td 1,256    
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files