/**=====================
  3.20 Dashboard_default CSS Start
==========================**/
.form-control-plaintext {
  // width: auto !important;
}

@each $badge-light-name, $badge-light-color in (primary, $primary-color), (secondary, $secondary-color), (success, $success-color), (danger, $danger-color), (info, $info-color), (light, $badge-light-color), (dark, $dark-color), (warning, $warning-color) {
  .badge-light-#{$badge-light-name} {
    background-color: rgba($badge-light-color, 34%);
    color: $badge-light-color;

    &:hover {
      background-color: rgba($badge-light-color, 34%);
      color: $badge-light-color;
    }
  }

  .badge-l-#{$badge-light-name} {
    background-color: lighten($badge-light-color, 32%);

    &:hover {
      background-color: lighten($badge-light-color, 32%);
    }
  }
}

.badge-light-light {
  background-color: lighten($badge-light-color, 55%) !important;
}

.badge-light-primary,
.badge-l-primary {
  background-color: rgba($primary-color, 0.1);

  &:hover {
    background-color: rgba($primary-color, 0.1);
  }
}

.badge-light-success {
  background-color: rgba($success-color, 0.15);
}

.badge-light-secondary {
  background-color: rgba($secondary-color, 0.08);
}

.badge-light-danger {
  background-color: rgba($danger-color, 0.15);
}

/* Clock styles */

.circle {
  fill: $white;
  stroke: rgba($white, 0.4);
  stroke-width: 80px;
  stroke-miterlimit: 10;
}

.widget-grid {
  .height-equal {
    @media (min-width: 1400px) {
      min-height: unset !important;
    }
  }

  > .col-xxl-auto {
    @media (min-width: 1400px) {
      width: 22.22%;
    }
  }
}

.header-top {
  @include pixelstrap-flex(flex, space-between, center);
  gap: 4px;

  a {
    i {
      font-size: 11px;
      margin-bottom: -2px;
    }

    &.btn {
      padding: 8px 12px;

      @media (max-width: 575px) {
        padding: 5px;
      }

      &.badge-light-primary {
        &:hover {
          background-color: var(--theme-default);
        }
      }
    }
  }
}

.notification {
  ul {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border: 1px dashed $theme-body-sub-title-color;
      opacity: 0.3;
      top: 12px;
      left: 2px;
      height: calc(100% - 12px);

      [dir="rtl"] & {
        left: unset;
        right: 2px;
      }
    }
  }

  li {
    padding-bottom: 31px;
  }

  div[class*="activity-dot-"] {
    margin-top: 12px;
    animation: round 1.3s ease-in-out infinite;
  }

  .card {
    .d-flex {
      .w-100 {
        p {
          .badge {
            color: $white;
            margin-left: 10px;
            font-weight: 500;
          }
        }

        h6 {
          margin-bottom: 5px;
          position: relative;

          ~ p {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-emphasis: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            width: 260px;

            @media (max-width: 767px) {
              -webkit-line-clamp: unset;
              text-emphasis: unset;
              white-space: unset;
              text-overflow: unset;
              display: block;
              width: unset;
              overflow: visible;
            }
          }

          @keyframes round {
            0% {
              transform: scale(1);
            }

            50% {
              transform: scale(1.2);
            }

            100% {
              transform: scale(1);
            }
          }
        }

        span {
          color: $theme-body-sub-title-color;
        }
      }

      &:nth-child(2) {
        .flex-grow-1 {
          h6 {
            .dot-notification {
              background-color: $warning-color;
              border: 5px solid lighten($warning-color, 30%);
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .date-content {
    padding: 4px 8px;
    border-radius: 5px;
  }
}

//index dashboard css ends

//general widget css start

.fill-primary {
  fill: $primary-color;
}

.fill-secondary {
  fill: $secondary-color;
}

.fill-success {
  fill: $success-color;
}

.fill-warning {
  fill: $warning-color;
}

.fill-info {
  fill: $info-color;
}

.fill-danger {
  fill: $danger-color;
}

//general widget css start
//chart widget css
.chart-widget-top {
  #chart-widget1,
  #chart-widget2,
  #chart-widget3 {
    margin-bottom: -15px;

    .apexcharts-xaxistooltip {
      display: none;
    }
  }

  span {
    color: $font-gray-color;
  }
}

.bar-chart-widget {
  .apexcharts-legend {
    bottom: 0 !important;

    .apexcharts-legend-series {
      margin: 0 10px !important;
    }

    .apexcharts-legend-marker {
      margin-right: 5px;
    }
  }

  .top-content {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .earning-details {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    letter-spacing: 1px;

    i {
      font-size: 230px;
      position: absolute;
      opacity: 0.1;
      right: -30px;
      top: 0;

      &:hover {
        transform: rotate(-5deg) scale(1.1);
        transition: all 0.3s ease;
      }
    }
  }

  .num {
    font-weight: 600;

    .color-bottom {
      color: $black;
    }
  }
}

.skill-chart {
  margin-bottom: -48px;

  .apexcharts-legend {
    .apexcharts-legend-series {
      span {
        display: block;
      }

      .apexcharts-legend-text {
        margin: 10px 0 20px;
      }
    }
  }
}

.progress-chart {
  margin: -11px 0 -20px;

  .apexcharts-canvas {
    svg {
      path,
      rect {
        clip-path: inset(1% 0% 0% 0% round 1rem);
      }
    }
  }
}

.bottom-content {
  span {
    color: $theme-body-sub-title-color;
  }

  .block-bottom {
    display: block;
  }
}

.serial-chart .chart-container {
  width: 100%;
  height: 500px;

  .lastBullet {
    animation: am-pulsating 1s ease-out infinite;
  }

  .amcharts-graph-column-front {
    transition: all 0.3s 0.3s ease-out;

    &:hover {
      fill: var(--theme-secondary);
      stroke: var(--theme-secondary);
      transition: all 0.3s ease-out;
    }
  }

  .amcharts-graph-g3 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: am-draw 40s;
  }

  .amcharts-graph-g2 .amcharts-graph-stroke {
    stroke-dasharray: 3px 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: am-moving-dashes 1s linear infinite;
  }
}

.chart-container {
  .apexcharts-xaxis-label,
  .apexcharts-yaxis-label {
    font-size: 14px !important;
    color: $font-gray-color !important;
  }

  .apexcharts-xaxis-annotations {
    rect {
      clip-path: inset(1% 0% 0% 0% round 0.2rem);
    }
  }
}

.crypto-chart {
  margin-left: -20px;

  .apexcharts-tooltip-title {
    display: none;
  }

  .apexcharts-tooltip-series-group {
    &:last-child,
    &.active {
      padding-bottom: 0;
    }
  }
}

.small-chart-widget .chart-container {
  height: 311px;
  padding: 0;
  margin: 0;
  border: none;
}

.small-chart-widget {
  .card {
    .card-body {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.donut-chart-widget .chart-container {
  height: 300px;
  border: 0;
  margin: 0;
  padding: 0;
}

.status-chart .chart-container {
  height: 200px;
  border: 0;
  padding: 0;
  margin: 0;
}

.map-chart .chart-container {
  width: 100%;
  height: 500px;
}

.serial-chart {
  width: 100%;
}

// tilt page
.tilt-showcase {
  ul {
    li {
      .line {
        padding-top: 10px;
      }
    }
  }

  .pre-mt {
    margin-top: 5px;
  }
}

// wow page
.wow-title {
  h5 {
    display: flex;
    align-items: center;
    font-size: 18px;

    .badge {
      -webkit-text-fill-color: $white;
    }
  }
}

// tour page
.hovercard {
  .info {
    .social-media {
      ul {
        li {
          padding-top: 3px;
        }
      }
    }
  }

  .cardheader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

// typeahead page
.twitter-typeahead {
  display: block !important;
}

span.twitter-typeahead {
  .league-name {
    font-size: 16px;
    padding: 6px 10px 0;
  }

  .tt-menu {
    float: left;
    width: 100%;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: $white;
    background-clip: padding-box;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    border: none;
    padding: 0;
  }

  .tt-suggestion {
    color: $dark-editor-document;
    opacity: 0.6;
    font-size: 13px;
    padding: 6px 12px;
    border-top: 1px solid $light-semi-gray;
    background: $white;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $white;
    }

    &.active,
    &:active {
      color: $white;
      background-color: var(--theme-default);
    }
  }
}

#scrollable-dropdown-menu {
  .twitter-typeahead {
    .tt-menu {
      .tt-dataset {
        max-height: 100px;
        overflow-y: auto;
      }
    }
  }
}

.apexcharts-series.apexcharts-radial-series {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(0deg, #ffffff 0.05%, #f4f4f4 19.91%, #f5f6f9 55.02%, #eaecf4 100%);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 0;
    left: 0;
  }
}

//typography//
footer {
  &.blockquote-footer {
    bottom: unset;
  }
}

// index responsive css
@media only screen and (max-width: 991px) {
  .notification {
    li {
      padding-bottom: 20px;
    }

    .card {
      .card-body {
        .d-flex {
          .w-100 {
            p {
              margin: 0;
            }

            h6 {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer-fix {
    .pull-right {
      float: none !important;
      text-align: center !important;
    }
  }
}

@media only screen and (max-width: 575px) {
  .notification {
    li {
      padding-bottom: 15px;
    }
  }

  .media-dropdown {
    display: block;

    .flex-grow-1 {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;

    p {
      font-size: 12px;
    }
  }

  .appointment-table {
    table {
      tr {
        td {
          min-width: 103px;

          &:first-child {
            min-width: 50px;
          }

          &:nth-child(2) {
            min-width: 120px;
          }
        }
      }
    }
  }
}

// Timeline
.activity-log {
  .basic-timeline {
    ul {
      &.common-flex {
        li {
          padding-bottom: 0;
        }

        &::before {
          content: unset;
        }
      }

      li {
        @media (max-width: 1247px) {
          padding-bottom: 8px;
        }

        @media (max-width: 1399px) and (min-width: 1248px) {
          padding-bottom: 12px;
        }

        @media (max-width: 1199px) {
          padding-bottom: 8px;
        }

        .date-content {
          color: $badge-light-color;
        }

        > div[class*="timeline-dot-"] {
          bottom: -7px;
        }

        img {
          height: 50px;
          border-radius: 10px;

          @media (max-width: 1344px) {
            height: 40px;
          }
        }

        p {
          @media (max-width: 1589px) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
          }

          @media (max-width: 1384px) and (min-width: 1205px) {
            max-width: 225px;
          }

          @media (max-width: 1204px) and (min-width: 1200px) {
            max-width: 195px;
          }

          @media (max-width: 1199px) and (min-width: 897px) {
            max-width: 280px;
          }

          @media (max-width: 896px) and (min-width: 768px) {
            max-width: 210px;
          }

          @media (max-width: 767px) and (min-width: 550px) {
            max-width: 100%;
          }

          @media (max-width: 460px) and (min-width: 396px) {
            max-width: 234px;
          }

          @media (max-width: 395px) {
            max-width: 148px;
          }
        }
      }
    }
  }
}

.sales-report {
  position: relative;

  .balance-data {
    top: 20px;
    right: 60px;

    @media (max-width: 1460px) and (min-width: 1400px) {
      display: none;
    }

    @media (max-width: 1250px) and (min-width: 992px) {
      display: none;
    }

    .circle {
      @include pixelstrap-size(9px, 9px);
    }
  }

  #sale_report {
    margin-bottom: -20px;

    @media (max-width: 991px) and (min-width: 404px) {
      margin-bottom: -20px;
    }

    @media (max-width: 403px) {
      margin-bottom: -40px;
    }
  }
}


// Los angeles css
.default-dashboard {
  .card {
    .balance-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .balance-detail {
        p {
          margin-bottom: 16px;
          font-size: 22px;
          font-weight: 600;
          line-height: 1;
          @media (max-width: 1708px) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 180px;
          }
          @media (max-width: 1525px) {
            max-width: 160px;
          }
          @media (max-width: 1400px) {
            max-width: unset;
          }
          @media (max-width: 715px) {
            max-width: 150px;
          }
          @media (max-width: 605px) {
            max-width: 135px;
          }
          @media (max-width: 576px) {
            max-width: 185px;
          }
        }
        span {
          color: $dark-gray;
          font-weight: 500;
          margin-bottom: 5px;
        }
        > span {
          margin-bottom: 0;
          font-size: 20px;
        }
      }
      .customer-card {
        width: calc(38px + (55 - 38) * ((100vw - 320px) / (1920 - 320)));
        height: calc(38px + (55 - 38) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1578px) and (min-width: 1400px) {
          width: 37px;
          height: 37px;
        }
        svg {
          width: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
          height: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
          stroke: var(--theme-default);
          fill: none;
          @media (max-width: 1578px) and (min-width: 1400px) {
            width: 18px;
            height: 18px;
          }
        }
        @media (max-width: 1438px) and (min-width: 1400px) {
          display: none;
        }
      }
    }
    .balance1 {
      display: flex;
      align-items: center;
      padding-top: 24px;
      gap: 10px;
      p {
        color: var(--theme-default);
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: 5px;
      }
      svg {
        width: 18px;
        height: 18px;
        stroke: var(--theme-default);
        fill: none;
      }
      span {
        color: gray;
      }
    }
  }
  .shipment-tracking-table {
    .recent-table {
      table {
        thead,
        tbody {
          tr {
            th,
            td {
              &:first-child {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
  .sale-product-table {
    .recent-table {
      &.table-responsive {
        div.dt-container {
          .table {
            thead,
            tbody {
              tr {
                td,
                th {
                  &:nth-child(5) {
                    @media (max-width: 1602px) and (min-width: 1289px) {
                      display: none;
                    }
                  }
                  &:nth-child(4) {
                    @media (max-width: 1469px) and (min-width: 1289px) {
                      display: none;
                    }
                  }
                  &:nth-child(2) {
                    @media (max-width: 1288px) {
                      min-width: 172px;
                    }
                  }
                  @media (max-width: 1288px) {
                    &:nth-child(3) {
                      min-width: 200px;
                    }
                    &:nth-child(4) {
                      min-width: 105px;
                    }
                    &:nth-child(5) {
                      min-width: 100px;
                    }
                    &:last-child {
                      min-width: 135px;
                    }
                  }
                  img{
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .treading-product {
    .recent-table {
      &.table-responsive {
        div.dt-container {
          .table {
            thead,
            tbody {
              tr {
                td,
                th {
                  @media (max-width: 822px) {
                    &:first-child {
                      min-width: 170px;
                    }
                    &:nth-child(2) {
                      min-width: 120px;
                    }
                    &:last-child {
                      min-width: 70px;
                    }
                  }
                  @media (max-width: 1488px) and (min-width: 1262px) {
                    &:last-child {
                      display: none;
                    }
                  }
                  @media (max-width: 1262px) {
                    &:first-child {
                      min-width: 150px;
                    }
                    &:nth-child(2) {
                      min-width: 120px;
                    }
                    &:last-child {
                      min-width: 70px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .shipment-tracking-table {
    .recent-table {
      &.table-responsive {
        div.dt-container {
          .table {
            thead,
            tbody {
              tr {
                td,
                th {
                  @media (max-width: 1660px) {
                    &:nth-child(2) {
                      min-width: unset;
                    }
                  }
                  @media (max-width: 1826px) and (min-width: 1200px) {
                    &:nth-child(5) {
                      display: none;
                    }
                  }
                  @media (max-width: 1283px) and (min-width: 1200px) {
                    &:nth-child(4) {
                      display: none;
                    }
                  }
                  @media (max-width: 1546px) and (min-width: 1200px) {
                    &:nth-child(6) {
                      display: none;
                    }
                  }
                  @media (max-width:805px) {
                    &:nth-child(2){
                      min-width: 110px;
                    }
                    &:nth-child(3){
                      min-width: 105px;
                    }
                    &:nth-child(4){
                      min-width: 100px;
                    }
                    &:nth-child(5){
                      min-width: 170px;
                    }
                    &:nth-child(6){
                      min-width: 130px;
                    }
                  }
                }
              }
            }
          }
          .dt-layout-row {
            .dt-layout-cell {
              .dt-search {
                @media (max-width: 1400px) and (min-width:1200px) {
                  position: relative;
                  top: 4px;
                  left: 20px;
                  margin-bottom: 20px;
                }
              }
              .dt-info{
                @media (max-width:1334px) and (min-width:1200px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
.widget-card {
  &:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    i {
      animation: tada 1.5s ease infinite;
    }
    .customer-card{
      svg{
        animation: tada 1.5s ease infinite; 
      }
    }
  }
}
/**=====================
  3.20 Dashboard_default CSS Ends
==========================**/
