/**=====================
    3.11 Dashboard_3 CSS Start
==========================**/

.get-card {
  .card-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.get-card {
  .btn {
    margin-top: 15px;
    padding: 8px 15px;

    &:hover {
      svg {
        transform: translateX(5px);
        transition: 0.5s;
      }
    }

    svg {
      width: 13px;
      height: 13px;
      fill: $white;
      vertical-align: -2px;
      transition: 0.5s;
    }
  }
}

/**=====================
  3.11 Dashboard_3 CSS Ends
==========================**/