/**=====================
    3.13 Dashboard_5 CSS Start
==========================**/
.social {
    &-widget {
        .card-body {
            padding: 15px;

            @media (max-width:1699px) and (min-width:1500px) {
                span {
                    &[class*='font-'] {
                        display: none !important;
                    }
                }
            }
        }

        .social-icons {
            min-width: calc(40px + (55 - 40) * ((100vw - 320px) / (1920 - 320)));
            height: calc(40px + (55 - 40) * ((100vw - 320px) / (1920 - 320)));
            background: var(--white);
            box-shadow: 0px 42.1092px 27.8569px rgba(41, 72, 152, 0.0303704), 0px 8.90772px 7.12618px rgba(41, 72, 152, 0.0196296), 0px 2.02448px 3.44162px rgba(41, 72, 152, 0.012037);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        .social-content {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .social-chart {
                margin: -34px -42px -13px;
                width: 150px;

                .apexcharts-canvas {
                    .apexcharts-datalabels-group {
                        .apexcharts-datalabel-label {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Social Tabs
.social-tabs {
    .tab-content {
        @media (max-width:413px) {
            margin-bottom: -45px;
        }
    }

    .nav {
        gap: 16px;

        @media (max-width:1210px) {
            gap: 10px;
        }

        @media (max-width:575px) {
            display: flex;
        }

        .social-box {
            padding: 12px 16px;
            border: 1px solid transparent;
            border-radius: 4px;
            transition: all 0.4s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            @media (max-width:1528px) {
                gap: 12px;
            }

            span {
                color: var(--body-font-color);
            }

            .frame-image {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                [class*='outline-10-'],
                [class*='outline-20-'] {
                    border-radius: 50%;
                    outline-offset: 4px;

                    [class*='bg-10-'],
                    [class*='bg-20-'] {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        @media (max-width:1528px) {
                            width: 28px;
                            height: 28px;
                        }
                    }

                    [class*='fa-']:not(.fa-youtube-play) {
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        font-size: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .youtube-color {
                        color: $youtube-color;
                    }

                    .instagram-color {
                        background: $instagram-color;
                    }
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            >div {
                margin-bottom: -20px;
            }
        }
    }
}

/**=====================
    3.13 Dashboard_5 CSS Ends
==========================**/