/**=====================
    3.48 Pricing CSS Start
==========================**/
.pricing-simple {
  box-shadow: 0 0 10px 5px rgba(68, 102, 242, 0.05);
  margin-bottom: 0 !important;

  .card-body {
    border-bottom: none;
    text-align: left;

    [dir="rtl"] & {
      text-align: right;
    }

    h4 {
      position: relative;
      margin-bottom: 38px;

      &:before {
        position: absolute;
        content: '';
        @include pixelstrap-size(80px, 1px);
        margin: 0;
        left: 0;
        bottom: -10px;
        background-color: $light-text;

        [dir="rtl"] & {
          left: unset;
          right: 0;
        }
      }
    }

    h5 {
      font-size: calc(36px + (40 - 36) * ((100vw - 320px) / (1920 - 320)));
      line-height: 0.9;
      margin-bottom: 24px;
      font-weight: 400;
    }
  }
  .btn-block{
    width: calc(150px + (250 - 150) * ((100vw - 320px) / (1920 - 320)));
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -15px;
  }
}

.pricingtable {
  padding: 32px;
  border-radius: 12px;
  box-shadow: $card-hover-box-shadow;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 100%;

}

.pricing-simple {
  .pricing-content {
    li {
      text-align: left;
      margin-bottom: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
      text-transform: capitalize;
      color: $badge-light-color;

      i {
        padding-right: 8px;
        color: var(--theme-default);
      }

      [dir="rtl"] & {
        text-align: right;

        i {
          padding-right: unset;
          padding-left: 8px;
        }
      }
    }
  }
}
.pricingtable {
  background: linear-gradient(215deg, rgb(225 99 73 / 14%) 0%, rgb(225 99 73 / 6%) 50%, rgba(225, 99, 73, 0) 100%);
  border-top: 2px solid var(--theme-default);
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255,255,255,0.3),
      transparent
    );
    transition: 0.6s;
  }
  &:hover{
    &::before{
      top: 100%;
    }
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .price-value {
    color: $black;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 18px;

    .duration {
      margin: 0 0 0 -5px;
      font-size: 20px;
      color: $font-gray-color;

      [dir="rtl"] & {
        margin: 0 -5px 0 0;
      }
    }
    &::before{
      border-bottom: 1px solid gray;
    }
  }

  .pricing-content {
    margin: 0 0 25px;
    display: inline-block;

    li {
      font-weight: 500;
      text-align: left;
      margin: 0 0 20px;
      position: relative;
      padding-left: 30px;

      [dir="rtl"] & {
        text-align: right;
        padding-left: unset;
        padding-right: 30px;
      }

      &:last-child {
        margin: 0;
      }

      &:before {
        content: "\f00c";
        color: var(--theme-default);
        font-family: $font-awesome;
        text-align: center;
        @include pixelstrap-size(20px, 20px);
        font-weight: 600;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 0;

        [dir="rtl"] & {
          left: unset;
          right: 0;
        }
      }
    }
  }
}


@media only screen and (max-width: 991px) {
  .pricing-simple {
    .card-body {
      h1 {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 28px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .pricing-simple {
    .card-body {
      h1 {
        margin-bottom: 15px;
      }
    }
  }

  .pricing-block {
    >div {
      flex: 100%;
    }
  }
}

/**=====================
   3.48 Pricing CSS Ends
==========================**/