// Page Header Start
.page-header
  .header-wrapper.row.g-0
    .header-logo-wrapper.col-auto
      //- .toggle-sidebar
      //-   i.status_toggle.middle(data-feather='grid').sidebar-toggle 
      .logo-wrapper
        a(href='index.html')
          img.img-fluid.for-light(src='../assets/images/logo/logo.png', alt='')
          img.img-fluid.for-dark(src='../assets/images/logo/logo_dark.png', alt='')
      .toggle-sidebar
        i.status_toggle.middle(data-feather='align-center').sidebar-toggle

    .left-header.col-xxl-3.col-xl-5.col-lg-4.col-md-4.col-sm-3
      .searchBar
        input#searchQueryInput(type='text' name='searchQueryInput' placeholder='Type to Search' value='')
        button#searchQuerySubmit(type='submit' name='searchQuerySubmit')
          svg
            use(href='../assets/svg/icon-sprite.svg#search')
      //- .notification-slider
      //-   div.d-flex.h-100 
      //-     img(src="../assets/images/giftools.gif" alt="gif")
      //-     h6.mb-0.f-w-400
      //-       span.font-primary Don't Miss Out! 
      //-       span.f-light  Our new update has been released.
      //-     i.icon-arrow-top-right.f-light
      //-   div.d-flex.h-100
      //-     img(src="../assets/images/giftools.gif" alt="gif")
      //-     h6.mb-0.f-w-400
      //-       span.f-light Something you love is now on sale! 
      //-     a.ms-1(href="https://1.envato.market/3GVzd" target="_blank") Buy now !

    .nav-right.col-xxl-8.col-xl-6.col-md-7.col-8.pull-right.right-header.ms-auto
      ul.nav-menus
        li                          
          span.header-search
            svg
              use(href='../assets/svg/icon-sprite.svg#search')
        form(action='#', method='get').form-inline.search-full.col
          .form-group.w-100
            .Typeahead.Typeahead--twitterUsers
              .searchBar
                input#searchQueryInput(type='text' name='searchQueryInput' placeholder='Type to Search' value='')
                .spinner-border.Typeahead-spinner(role='status')
                  span.sr-only Loading...
                i(data-feather='x').close-search
              .Typeahead-menu
        li.language-nav
          .translate_wrapper
            .current_lang
              .lang
                i.flag-icon.flag-icon-us
                span.lang-txt EN  
                //- svg
                //-   use(href='../assets/svg/icon-sprite.svg#language')                             
            .more_lang
              .lang.selected(data-value='en')
                i.flag-icon.flag-icon-us
                span.lang-txt
                  | English
                  span  (US)
              .lang(data-value='de')
                i.flag-icon.flag-icon-de
                span.lang-txt Deutsch
              .lang(data-value='es')
                i.flag-icon.flag-icon-es
                span.lang-txt Español
              .lang(data-value='fr')
                i.flag-icon.flag-icon-fr
                span.lang-txt Français
              .lang(data-value='pt')
                i.flag-icon.flag-icon-pt
                span.lang-txt
                  | Português
                  span  (BR)
              .lang(data-value='cn')
                i.flag-icon.flag-icon-cn
                span.lang-txt 简体中文
              .lang(data-value='ae')
                i.flag-icon.flag-icon-ae
                span.lang-txt
                  | لعربية 
                  span  (ae)
        li.fullscreen-body                        
          span
            svg#maximize-screen
              use(href='../assets/svg/icon-sprite.svg#full-screen')
        
        li.onhover-dropdown
          svg
            use(href='../assets/svg/icon-sprite.svg#star')
          .onhover-show-div.bookmark-flip
            .flip-card
              .flip-card-inner
                .front
                  h6.f-18.mb-0.dropdown-title Bookmark
                  ul.bookmark-dropdown
                    li
                      .row
                        .col-4.text-center
                          .bookmark-content
                            .bookmark-icon
                              i(data-feather='file-text')
                            span Forms
                        .col-4.text-center
                          .bookmark-content
                            .bookmark-icon
                              i(data-feather='user')
                            span Profile
                        .col-4.text-center
                          .bookmark-content
                            .bookmark-icon
                              i(data-feather='server')
                            span Tables
                    li.text-center
                      a.flip-btn#flip-btn.f-w-700.btn.btn-primary.w-100(href="#!") Add Bookmark
                .back
                  ul
                    li
                      .bookmark-dropdown.flip-back-content
                        input(type='text' placeholder='Search...')
                    li
                      a.f-w-700.d-block.flip-back#flip-back.btn.btn-primary.w-100(href="#!")
                        | Back

        li
          .mode
            svg
              use(href='../assets/svg/icon-sprite.svg#moon')
        li.cart-nav.onhover-dropdown
          .cart-box
            svg
              use(href='../assets/svg/icon-sprite.svg#stroke-ecommerce')
            span.badge.rounded-pill.badge-danger 3
          .cart-dropdown.onhover-show-div
            h6.f-18.mb-0.dropdown-title Cart items
            ul.cart-list
              li
                .d-flex
                  img.img-fluid.b-r-5.me-3.img-50(src='../assets/images/other-images/cart-img.jpg', alt='')
                  .flex-grow-1
                    span Wireless Headphones
                    .qty-box
                      .input-group
                        span.input-group-prepend
                          button.btn.quantity-left-minus(type='button' data-type='minus')
                            | -
                        input.form-control.input-number(type='text' name='quantity' value='1')
                        span.input-group-prepend
                          button.btn.quantity-right-plus(type='button' data-type='plus')
                            | +                  
                      h6.font-primary $75
                  .close-circle
                    a.bg-danger(href='#')
                      i(data-feather='x')
              li
                .d-flex
                  img.img-fluid.b-r-5.me-3.img-50(src='../assets/images/dashboard-2/order/sub-product/16.png', alt='')
                  .flex-grow-1
                    span Ladies Hand Bag
                    .qty-box
                      .input-group
                        span.input-group-prepend
                          button.btn.quantity-left-minus(type='button' data-type='minus')
                            | -
                        input.form-control.input-number(type='text' name='quantity' value='1')
                        span.input-group-prepend
                          button.btn.quantity-right-plus(type='button' data-type='plus')
                            | +                  
                      h6.font-primary $49
                  .close-circle
                    a.bg-danger(href='#')
                      i(data-feather='x')
              li
                .d-flex
                  img.img-fluid.b-r-5.me-3.img-50(src='../assets/images/other-images/cart-img1.jpg', alt='')
                  .flex-grow-1
                    span Advanced Smart Watch
                    .qty-box
                      .input-group
                        span.input-group-prepend
                          button.btn.quantity-left-minus(type='button' data-type='minus')
                            | -
                        input.form-control.input-number(type='text' name='quantity' value='1')
                        span.input-group-prepend
                          button.btn.quantity-right-plus(type='button' data-type='plus')
                            | +                  
                      h6.font-primary $87.03
                  .close-circle
                    a.bg-danger(href='#')
                      i(data-feather='x')
              .text-center.m-2
                a.btn.btn-primary.view-checkout.btn.btn-primary.w-100.f-w-700(href='checkout.html')
                  | Proceed to checkout 
        li.onhover-dropdown
          .notification-box
            svg
              use(href='../assets/svg/icon-sprite.svg#notification')
            span.pulse.rounded.badge-success 
          .onhover-show-div.notification-dropdown
            .notification-header.d-flex.align-items-center.justify-content-between
              h6.f-18.mb-0 Notifications
              span.unread.bg-danger 4 unread                             
            ul.notification-list
              li
                .d-flex.align-items-center.justify-content-between
                  img.img-fluid.avatar.b-r-20.me-3(src='../assets/images/avtar/1.jpg', alt='')
                  .flex-grow-1
                    p.mb-0 General Update
                    span.notification-content New features are now available!
                  .close-circle
                    a.close-notification(href='#')
                      i(data-feather='x')
              li
                .d-flex.align-items-center.justify-content-between
                  img.img-fluid.avatar.b-r-20.me-3(src='../assets/images/avtar/10.jpg', alt='')
                  .flex-grow-1
                    p.mb-0 Success Message
                    span.notification-content  The profile was successfully updated.
                  .close-circle
                    a.close-notification(href='#')
                      i(data-feather='x')
              li
                .d-flex.align-items-center.justify-content-between
                  img.img-fluid.avatar.b-r-20.me-3(src='../assets/images/avtar/1.jpg', alt='')
                  .flex-grow-1
                    p.mb-0  Support Ticket Submitted
                    span.notification-content We need your attention on ticket #45678.
                  .close-circle
                    a.close-notification(href='#')
                      i(data-feather='x')
              li
                .d-flex.align-items-center.justify-content-between
                  img.img-fluid.avatar.b-r-20.me-3(src='../assets/images/avtar/10.jpg', alt='')
                  .flex-grow-1
                    p.mb-0 Low Inventory Alert
                    span.notification-content  Only 5 items left in inventory.
                  .close-circle
                    a.close-notification(href='#')
                      i(data-feather='x')
              //- li.b-l-success.border-4.toast.default-show-toast.align-items-center.text-light.border-0.fade.show(aria-live='assertive' aria-atomic='true' data-bs-autohide='false')
              //-   .d-flex.justify-content-between
              //-     .toast-body
              //-       p
              //-         | Order Complete
              //-     button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
              //- li.b-l-secondary.border-4.toast.default-show-toast.align-items-center.text-light.border-0.fade.show(aria-live='assertive' aria-atomic='true' data-bs-autohide='false')
              //-   .d-flex.justify-content-between
              //-     .toast-body
              //-       p
              //-         | Tickets Generated
              //-     button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
              //- li.b-l-warning.border-4.toast.default-show-toast.align-items-center.text-light.border-0.fade.show(aria-live='assertive' aria-atomic='true' data-bs-autohide='false')
              //-   .d-flex.justify-content-between
              //-     .toast-body
              //-       p
              //-         | Delivery Complete
              //-     button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
        li.profile-nav.onhover-dropdown.pe-0.py-0
          .d-flex.align-items-center.profile-media
            img.b-r-10(src='../assets/images/dashboard/profile.png', alt='')
            .flex-grow-1
              span Emay Walter
              //- p.mb-0 Admin 
              //-   i.middle.fa-solid.fa-angle-down
          ul.profile-dropdown.onhover-show-div
            li
              a(href='sign-up.html')
                i(data-feather='user')
                span Account 
            li
              a(href='mail-box.html')
                i(data-feather='mail')
                span Inbox
            li
              a(href='task.html')
                i(data-feather='file-text')
                span Taskboard
            li
              a(href='add-user.html')
                i(data-feather='settings')
                span Settings
            li
              a(href='login.html')
                i(data-feather='log-in') 
                span Log out
    script.result-template(type='text/x-handlebars-template').
      <div class="ProfileCard u-cf">                        
      <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
      <div class="ProfileCard-details">
      <div class="ProfileCard-realName">{{name}}</div>
      </div>
      </div>
    script.empty-template(type='text/x-handlebars-template').
      <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
// Page Header Ends                              
